.pesonallabel{
    margin-left: 50px;
    width:150px;
    height:50px;
    float: left;
}

.personaldata{
    float: left;
    margin-left: 40px;
}

input[type="file"]{
/*//这里的高度撑着和图片一样大*/
height:200px;
    opacity:0;
    cursor:pointer;
}