<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.temptation.dao.AgentMapper">
    <resultMap id="BaseResultMap" type="cn.temptation.domain.Agent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="agent_name" jdbcType="VARCHAR" property="agentName"/>
        <result column="agent_phone" jdbcType="VARCHAR" property="agentPhone"/>
        <result column="is_security" jdbcType="INTEGER" property="isSecurity"/>
        <result column="agent_id_card" jdbcType="VARCHAR" property="agentIdCard"/>
        <result column="gmt_create" jdbcType="DATE" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="DATE" property="gmtModified"/>
        <result column="living_information_id" jdbcType="INTEGER" property="livingInformationId"/>
        <result column="presonal_id" jdbcType="INTEGER" property="presonalId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, agent_name, agent_phone, is_security, agent_id_card, gmt_create, gmt_modified, 
    living_information_id, presonal_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agent
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.temptation.domain.Agent">
    insert into agent (id, agent_name, agent_phone, 
      is_security, agent_id_card, gmt_create, 
      gmt_modified, living_information_id, presonal_id
      )
    values (#{id,jdbcType=INTEGER}, #{agentName,jdbcType=VARCHAR}, #{agentPhone,jdbcType=VARCHAR}, 
      #{isSecurity,jdbcType=INTEGER}, #{agentIdCard,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=DATE}, 
      #{gmtModified,jdbcType=DATE}, #{livingInformationId,jdbcType=INTEGER}, #{presonalId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.temptation.domain.Agent">
        insert into agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="agentPhone != null">
                agent_phone,
            </if>
            <if test="isSecurity != null">
                is_security,
            </if>
            <if test="agentIdCard != null">
                agent_id_card,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="livingInformationId != null">
                living_information_id,
            </if>
            <if test="presonalId != null">
                presonal_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="agentPhone != null">
                #{agentPhone,jdbcType=VARCHAR},
            </if>
            <if test="isSecurity != null">
                #{isSecurity,jdbcType=INTEGER},
            </if>
            <if test="agentIdCard != null">
                #{agentIdCard,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=DATE},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=DATE},
            </if>
            <if test="livingInformationId != null">
                #{livingInformationId,jdbcType=INTEGER},
            </if>
            <if test="presonalId != null">
                #{presonalId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.temptation.domain.Agent">
        update agent
        <set>
            <if test="agentName != null">
                agent_name = #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="agentPhone != null">
                agent_phone = #{agentPhone,jdbcType=VARCHAR},
            </if>
            <if test="isSecurity != null">
                is_security = #{isSecurity,jdbcType=INTEGER},
            </if>
            <if test="agentIdCard != null">
                agent_id_card = #{agentIdCard,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=DATE},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=DATE},
            </if>
            <if test="livingInformationId != null">
                living_information_id = #{livingInformationId,jdbcType=INTEGER},
            </if>
            <if test="presonalId != null">
                presonal_id = #{presonalId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.temptation.domain.Agent">
    update agent
    set agent_name = #{agentName,jdbcType=VARCHAR},
      agent_phone = #{agentPhone,jdbcType=VARCHAR},
      is_security = #{isSecurity,jdbcType=INTEGER},
      agent_id_card = #{agentIdCard,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=DATE},
      gmt_modified = #{gmtModified,jdbcType=DATE},
      living_information_id = #{livingInformationId,jdbcType=INTEGER},
      presonal_id = #{presonalId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>