<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygjy.dao.EchartsMapMapper">
    <select id="selectList" resultType="EchartsMap">
        SELECT `user`.province AS `name`,Count(`user`.province) AS `value`
          from `user` where identity='群众' and `status`=1 GROUP BY `user`.province
    </select>
</mapper>