<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygjy.dao.LivingInfomationMapper">
    <resultMap id="BaseResultMap" type="com.ygjy.entity.LivingInfomation">
        <id column="id_infomation" jdbcType="INTEGER" property="idInfomation"/>
        <result column="living_type" jdbcType="INTEGER" property="livingType"/>
        <result column="live_for" jdbcType="INTEGER" property="liveFor"/>
        <result column="house_type" jdbcType="INTEGER" property="houseType"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="jie_ban" jdbcType="VARCHAR" property="jieBan"/>
        <result column="com_mittee" jdbcType="VARCHAR" property="comMittee"/>
        <result column="street_road_alley" jdbcType="VARCHAR" property="streetRoadAlley"/>
        <result column="house_number" jdbcType="INTEGER" property="houseNumber"/>
        <result column="house_address" jdbcType="VARCHAR" property="houseAddress"/>
        <result column="room_number" jdbcType="INTEGER" property="roomNumber"/>
        <result column="land_lord" jdbcType="INTEGER" property="landLord"/>
        <result column="agent" jdbcType="INTEGER" property="agent"/>
        <result column="lessor_situation" jdbcType="VARCHAR" property="lessorSituation"/>
        <result column="housing_types" jdbcType="INTEGER" property="housingTypes"/>
        <result column="usage_house" jdbcType="INTEGER" property="usageHouse"/>
        <result column="information_collector" jdbcType="VARCHAR" property="informationCollector"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="input_time" jdbcType="TIMESTAMP" property="inputTime"/>
        <result column="personal_id" jdbcType="INTEGER" property="personalId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id_infomation, living_type, live_for, house_type, area, jie_ban, com_mittee, street_road_alley, 
    house_number, house_address, room_number, land_lord, agent, lessor_situation, housing_types, 
    usage_house, information_collector, create_time, input_time, personal_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from living_infomation
        where id_infomation = #{idInfomation,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from living_infomation
    where id_infomation = #{idInfomation,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ygjy.entity.LivingInfomation">
    insert into living_infomation (id_infomation, living_type, live_for, 
      house_type, area, jie_ban, 
      com_mittee, street_road_alley, house_number, 
      house_address, room_number, land_lord, 
      agent, lessor_situation, housing_types, 
      usage_house, information_collector, create_time, 
      input_time, personal_id)
    values (#{idInfomation,jdbcType=INTEGER}, #{livingType,jdbcType=INTEGER}, #{liveFor,jdbcType=INTEGER}, 
      #{houseType,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, #{jieBan,jdbcType=VARCHAR}, 
      #{comMittee,jdbcType=VARCHAR}, #{streetRoadAlley,jdbcType=VARCHAR}, #{houseNumber,jdbcType=INTEGER}, 
      #{houseAddress,jdbcType=VARCHAR}, #{roomNumber,jdbcType=INTEGER}, #{landLord,jdbcType=INTEGER}, 
      #{agent,jdbcType=INTEGER}, #{lessorSituation,jdbcType=VARCHAR}, #{housingTypes,jdbcType=INTEGER}, 
      #{usageHouse,jdbcType=INTEGER}, #{informationCollector,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{inputTime,jdbcType=TIMESTAMP}, #{personalId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ygjy.entity.LivingInfomation">
        insert into living_infomation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idInfomation != null">
                id_infomation,
            </if>
            <if test="livingType != null">
                living_type,
            </if>
            <if test="liveFor != null">
                live_for,
            </if>
            <if test="houseType != null">
                house_type,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="jieBan != null">
                jie_ban,
            </if>
            <if test="comMittee != null">
                com_mittee,
            </if>
            <if test="streetRoadAlley != null">
                street_road_alley,
            </if>
            <if test="houseNumber != null">
                house_number,
            </if>
            <if test="houseAddress != null">
                house_address,
            </if>
            <if test="roomNumber != null">
                room_number,
            </if>
            <if test="landLord != null">
                land_lord,
            </if>
            <if test="agent != null">
                agent,
            </if>
            <if test="lessorSituation != null">
                lessor_situation,
            </if>
            <if test="housingTypes != null">
                housing_types,
            </if>
            <if test="usageHouse != null">
                usage_house,
            </if>
            <if test="informationCollector != null">
                information_collector,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="inputTime != null">
                input_time,
            </if>
            <if test="personalId != null">
                personal_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idInfomation != null">
                #{idInfomation,jdbcType=INTEGER},
            </if>
            <if test="livingType != null">
                #{livingType,jdbcType=INTEGER},
            </if>
            <if test="liveFor != null">
                #{liveFor,jdbcType=INTEGER},
            </if>
            <if test="houseType != null">
                #{houseType,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="jieBan != null">
                #{jieBan,jdbcType=VARCHAR},
            </if>
            <if test="comMittee != null">
                #{comMittee,jdbcType=VARCHAR},
            </if>
            <if test="streetRoadAlley != null">
                #{streetRoadAlley,jdbcType=VARCHAR},
            </if>
            <if test="houseNumber != null">
                #{houseNumber,jdbcType=INTEGER},
            </if>
            <if test="houseAddress != null">
                #{houseAddress,jdbcType=VARCHAR},
            </if>
            <if test="roomNumber != null">
                #{roomNumber,jdbcType=INTEGER},
            </if>
            <if test="landLord != null">
                #{landLord,jdbcType=INTEGER},
            </if>
            <if test="agent != null">
                #{agent,jdbcType=INTEGER},
            </if>
            <if test="lessorSituation != null">
                #{lessorSituation,jdbcType=VARCHAR},
            </if>
            <if test="housingTypes != null">
                #{housingTypes,jdbcType=INTEGER},
            </if>
            <if test="usageHouse != null">
                #{usageHouse,jdbcType=INTEGER},
            </if>
            <if test="informationCollector != null">
                #{informationCollector,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inputTime != null">
                #{inputTime,jdbcType=TIMESTAMP},
            </if>
            <if test="personalId != null">
                #{personalId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ygjy.entity.LivingInfomation">
        update living_infomation
        <set>
            <if test="livingType != null">
                living_type = #{livingType,jdbcType=INTEGER},
            </if>
            <if test="liveFor != null">
                live_for = #{liveFor,jdbcType=INTEGER},
            </if>
            <if test="houseType != null">
                house_type = #{houseType,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="jieBan != null">
                jie_ban = #{jieBan,jdbcType=VARCHAR},
            </if>
            <if test="comMittee != null">
                com_mittee = #{comMittee,jdbcType=VARCHAR},
            </if>
            <if test="streetRoadAlley != null">
                street_road_alley = #{streetRoadAlley,jdbcType=VARCHAR},
            </if>
            <if test="houseNumber != null">
                house_number = #{houseNumber,jdbcType=INTEGER},
            </if>
            <if test="houseAddress != null">
                house_address = #{houseAddress,jdbcType=VARCHAR},
            </if>
            <if test="roomNumber != null">
                room_number = #{roomNumber,jdbcType=INTEGER},
            </if>
            <if test="landLord != null">
                land_lord = #{landLord,jdbcType=INTEGER},
            </if>
            <if test="agent != null">
                agent = #{agent,jdbcType=INTEGER},
            </if>
            <if test="lessorSituation != null">
                lessor_situation = #{lessorSituation,jdbcType=VARCHAR},
            </if>
            <if test="housingTypes != null">
                housing_types = #{housingTypes,jdbcType=INTEGER},
            </if>
            <if test="usageHouse != null">
                usage_house = #{usageHouse,jdbcType=INTEGER},
            </if>
            <if test="informationCollector != null">
                information_collector = #{informationCollector,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inputTime != null">
                input_time = #{inputTime,jdbcType=TIMESTAMP},
            </if>
            <if test="personalId != null">
                personal_id = #{personalId,jdbcType=INTEGER},
            </if>
        </set>
        where id_infomation = #{idInfomation,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ygjy.entity.LivingInfomation">
    update living_infomation
    set living_type = #{livingType,jdbcType=INTEGER},
      live_for = #{liveFor,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      jie_ban = #{jieBan,jdbcType=VARCHAR},
      com_mittee = #{comMittee,jdbcType=VARCHAR},
      street_road_alley = #{streetRoadAlley,jdbcType=VARCHAR},
      house_number = #{houseNumber,jdbcType=INTEGER},
      house_address = #{houseAddress,jdbcType=VARCHAR},
      room_number = #{roomNumber,jdbcType=INTEGER},
      land_lord = #{landLord,jdbcType=INTEGER},
      agent = #{agent,jdbcType=INTEGER},
      lessor_situation = #{lessorSituation,jdbcType=VARCHAR},
      housing_types = #{housingTypes,jdbcType=INTEGER},
      usage_house = #{usageHouse,jdbcType=INTEGER},
      information_collector = #{informationCollector,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      personal_id = #{personalId,jdbcType=INTEGER}
    where id_infomation = #{idInfomation,jdbcType=INTEGER}
  </update>
</mapper>