<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygjy.dao.NowAddressMapper">
  <resultMap id="BaseResultMap" type="com.ygjy.entity.NowAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="now_address_province" jdbcType="VARCHAR" property="nowAddressProvince" />
    <result column="now_address_city" jdbcType="VARCHAR" property="nowAddressCity" />
    <result column="now_address_district" jdbcType="VARCHAR" property="nowAddressDistrict" />
    <result column="now_address_town" jdbcType="VARCHAR" property="nowAddressTown" />
    <result column="now_address_village" jdbcType="VARCHAR" property="nowAddressVillage" />
    <result column="now_address_house_number" jdbcType="INTEGER" property="nowAddressHouseNumber" />
    <result column="now_address_create_time" jdbcType="DATE" property="nowAddressCreateTime" />
    <result column="now_address_modifie_time" jdbcType="DATE" property="nowAddressModifieTime" />
    <result column="now_address_personal_id" jdbcType="INTEGER" property="nowAddressPersonalId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, now_address_province, now_address_city, now_address_district, now_address_town, 
    now_address_village, now_address_house_number, now_address_create_time, now_address_modifie_time, 
    now_address_personal_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from now_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from now_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ygjy.entity.NowAddress">
    insert into now_address (id, now_address_province, now_address_city, 
      now_address_district, now_address_town, now_address_village, 
      now_address_house_number, now_address_create_time, 
      now_address_modifie_time, now_address_personal_id
      )
    values (#{id,jdbcType=INTEGER}, #{nowAddressProvince,jdbcType=VARCHAR}, #{nowAddressCity,jdbcType=VARCHAR}, 
      #{nowAddressDistrict,jdbcType=VARCHAR}, #{nowAddressTown,jdbcType=VARCHAR}, #{nowAddressVillage,jdbcType=VARCHAR}, 
      #{nowAddressHouseNumber,jdbcType=INTEGER}, #{nowAddressCreateTime,jdbcType=DATE}, 
      #{nowAddressModifieTime,jdbcType=DATE}, #{nowAddressPersonalId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ygjy.entity.NowAddress">
    insert into now_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nowAddressProvince != null">
        now_address_province,
      </if>
      <if test="nowAddressCity != null">
        now_address_city,
      </if>
      <if test="nowAddressDistrict != null">
        now_address_district,
      </if>
      <if test="nowAddressTown != null">
        now_address_town,
      </if>
      <if test="nowAddressVillage != null">
        now_address_village,
      </if>
      <if test="nowAddressHouseNumber != null">
        now_address_house_number,
      </if>
      <if test="nowAddressCreateTime != null">
        now_address_create_time,
      </if>
      <if test="nowAddressModifieTime != null">
        now_address_modifie_time,
      </if>
      <if test="nowAddressPersonalId != null">
        now_address_personal_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nowAddressProvince != null">
        #{nowAddressProvince,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressCity != null">
        #{nowAddressCity,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressDistrict != null">
        #{nowAddressDistrict,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressTown != null">
        #{nowAddressTown,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressVillage != null">
        #{nowAddressVillage,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressHouseNumber != null">
        #{nowAddressHouseNumber,jdbcType=INTEGER},
      </if>
      <if test="nowAddressCreateTime != null">
        #{nowAddressCreateTime,jdbcType=DATE},
      </if>
      <if test="nowAddressModifieTime != null">
        #{nowAddressModifieTime,jdbcType=DATE},
      </if>
      <if test="nowAddressPersonalId != null">
        #{nowAddressPersonalId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ygjy.entity.NowAddress">
    update now_address
    <set>
      <if test="nowAddressProvince != null">
        now_address_province = #{nowAddressProvince,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressCity != null">
        now_address_city = #{nowAddressCity,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressDistrict != null">
        now_address_district = #{nowAddressDistrict,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressTown != null">
        now_address_town = #{nowAddressTown,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressVillage != null">
        now_address_village = #{nowAddressVillage,jdbcType=VARCHAR},
      </if>
      <if test="nowAddressHouseNumber != null">
        now_address_house_number = #{nowAddressHouseNumber,jdbcType=INTEGER},
      </if>
      <if test="nowAddressCreateTime != null">
        now_address_create_time = #{nowAddressCreateTime,jdbcType=DATE},
      </if>
      <if test="nowAddressModifieTime != null">
        now_address_modifie_time = #{nowAddressModifieTime,jdbcType=DATE},
      </if>
      <if test="nowAddressPersonalId != null">
        now_address_personal_id = #{nowAddressPersonalId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ygjy.entity.NowAddress">
    update now_address
    set now_address_province = #{nowAddressProvince,jdbcType=VARCHAR},
      now_address_city = #{nowAddressCity,jdbcType=VARCHAR},
      now_address_district = #{nowAddressDistrict,jdbcType=VARCHAR},
      now_address_town = #{nowAddressTown,jdbcType=VARCHAR},
      now_address_village = #{nowAddressVillage,jdbcType=VARCHAR},
      now_address_house_number = #{nowAddressHouseNumber,jdbcType=INTEGER},
      now_address_create_time = #{nowAddressCreateTime,jdbcType=DATE},
      now_address_modifie_time = #{nowAddressModifieTime,jdbcType=DATE},
      now_address_personal_id = #{nowAddressPersonalId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>