<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygjy.dao.PersonalMapper">
  <resultMap id="BaseResultMap" type="com.ygjy.entity.Personal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="old_name" jdbcType="VARCHAR" property="oldName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="come_date" jdbcType="DATE" property="comeDate" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="villager" jdbcType="VARCHAR" property="villager" />
    <result column="now_address" jdbcType="VARCHAR" property="nowAddress" />
    <result column="fixed_phone" jdbcType="VARCHAR" property="fixedPhone" />
    <result column="move_phone" jdbcType="VARCHAR" property="movePhone" />
    <result column="concats" jdbcType="VARCHAR" property="concats" />
    <result column="concats_fixphone" jdbcType="VARCHAR" property="concatsFixphone" />
    <result column="concats_movphone" jdbcType="VARCHAR" property="concatsMovphone" />
    <result column="cultrue" jdbcType="VARCHAR" property="cultrue" />
    <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="faith" jdbcType="VARCHAR" property="faith" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="blood" jdbcType="VARCHAR" property="blood" />
    <result column="backg_round" jdbcType="VARCHAR" property="backgRound" />
    <result column="health_type" jdbcType="VARCHAR" property="healthType" />
    <result column="disability" jdbcType="VARCHAR" property="disability" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, old_name, sex, come_date, id_card, head_img, nation, province, city, district, 
    town, villager, now_address, fixed_phone, move_phone, concats, concats_fixphone, 
    concats_movphone, cultrue, politics_status, faith, height, weight, blood, backg_round, 
    health_type, disability, marital_status, status, explain, create_time, modified_time, 
    auditor,user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from personal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from personal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ygjy.entity.Personal">
    INSERT INTO `db_demographic`.`personal`(`id`, `name`, `old_name`, `sex`, `come_date`,
    `id_card`, `head_img`, `nation`, `province`, `city`, `district`, `town`, `villager`,
    `now_address`, `fixed_phone`, `move_phone`, `concats`, `concats_fixphone`, `concats_movphone`,
    `cultrue`, `politics_status`, `faith`, `height`, `weight`, `blood`, `backg_round`,
    `health_type`, `disability`, `marital_status`, `status`, `explain`, `create_time`,
    `modified_time`, `auditor`, `user_id`)
    VALUES (default , #{name}, #{oldName}, #{sex}, #{comeDate}, #{idCard}, #{headImg},
    #{nation}, #{province}, #{city}, #{district}, #{town}, #{villager},
    #{nowAddress}, #{fixedPhone}, #{movePhone}, #{concats}, #{concatsFixphone}, #{concatsMovphone},
    #{cultrue}, #{politicsStatus}, #{faith}, #{height}, #{weight}, #{blood}, #{backgRound},
    #{healthType}, #{disability}, #{maritalStatus}, #{status}, #{explain}, #{createTime},
    #{modifiedTime}, #{auditor}, #{userId});
  </insert>

  <insert id="insertSelective" parameterType="com.ygjy.entity.Personal">
    insert into personal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="oldName != null">
        old_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="comeDate != null">
        come_date,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="villager != null">
        villager,
      </if>
      <if test="nowAddress != null">
        now_address,
      </if>
      <if test="fixedPhone != null">
        fixed_phone,
      </if>
      <if test="movePhone != null">
        move_phone,
      </if>
      <if test="concats != null">
        concats,
      </if>
      <if test="concatsFixphone != null">
        concats_fixphone,
      </if>
      <if test="concatsMovphone != null">
        concats_movphone,
      </if>
      <if test="cultrue != null">
        cultrue,
      </if>
      <if test="politicsStatus != null">
        politics_status,
      </if>
      <if test="faith != null">
        faith,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="blood != null">
        blood,
      </if>
      <if test="backgRound != null">
        backg_round,
      </if>
      <if test="healthType != null">
        health_type,
      </if>
      <if test="disability != null">
        disability,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="explain != null">
        explain,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oldName != null">
        #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="comeDate != null">
        #{comeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="villager != null">
        #{villager,jdbcType=VARCHAR},
      </if>
      <if test="nowAddress != null">
        #{nowAddress,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="movePhone != null">
        #{movePhone,jdbcType=VARCHAR},
      </if>
      <if test="concats != null">
        #{concats,jdbcType=VARCHAR},
      </if>
      <if test="concatsFixphone != null">
        #{concatsFixphone,jdbcType=VARCHAR},
      </if>
      <if test="concatsMovphone != null">
        #{concatsMovphone,jdbcType=VARCHAR},
      </if>
      <if test="cultrue != null">
        #{cultrue,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="faith != null">
        #{faith,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="blood != null">
        #{blood,jdbcType=VARCHAR},
      </if>
      <if test="backgRound != null">
        #{backgRound,jdbcType=VARCHAR},
      </if>
      <if test="healthType != null">
        #{healthType,jdbcType=VARCHAR},
      </if>
      <if test="disability != null">
        #{disability,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ygjy.entity.Personal">
    update personal
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oldName != null">
        old_name = #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="comeDate != null">
        come_date = #{comeDate,jdbcType=DATE},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="villager != null">
        villager = #{villager,jdbcType=VARCHAR},
      </if>
      <if test="nowAddress != null">
        now_address = #{nowAddress,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="movePhone != null">
        move_phone = #{movePhone,jdbcType=VARCHAR},
      </if>
      <if test="concats != null">
        concats = #{concats,jdbcType=VARCHAR},
      </if>
      <if test="concatsFixphone != null">
        concats_fixphone = #{concatsFixphone,jdbcType=VARCHAR},
      </if>
      <if test="concatsMovphone != null">
        concats_movphone = #{concatsMovphone,jdbcType=VARCHAR},
      </if>
      <if test="cultrue != null">
        cultrue = #{cultrue,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        politics_status = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="faith != null">
        faith = #{faith,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="blood != null">
        blood = #{blood,jdbcType=VARCHAR},
      </if>
      <if test="backgRound != null">
        backg_round = #{backgRound,jdbcType=VARCHAR},
      </if>
      <if test="healthType != null">
        health_type = #{healthType,jdbcType=VARCHAR},
      </if>
      <if test="disability != null">
        disability = #{disability,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="explain != null">
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        auditor = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ygjy.entity.Personal">
    update personal
    set name = #{name,jdbcType=VARCHAR},
      old_name = #{oldName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      come_date = #{comeDate,jdbcType=DATE},
      id_card = #{idCard,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      villager = #{villager,jdbcType=VARCHAR},
      now_address = #{nowAddress,jdbcType=VARCHAR},
      fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      move_phone = #{movePhone,jdbcType=VARCHAR},
      concats = #{concats,jdbcType=VARCHAR},
      concats_fixphone = #{concatsFixphone,jdbcType=VARCHAR},
      concats_movphone = #{concatsMovphone,jdbcType=VARCHAR},
      cultrue = #{cultrue,jdbcType=VARCHAR},
      politics_status = #{politicsStatus,jdbcType=VARCHAR},
      faith = #{faith,jdbcType=VARCHAR},
      height = #{height,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      blood = #{blood,jdbcType=VARCHAR},
      backg_round = #{backgRound,jdbcType=VARCHAR},
      health_type = #{healthType,jdbcType=VARCHAR},
      disability = #{disability,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      explain = #{explain,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      auditor = #{auditor,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--根据个人信息查询个人信息id-->
  <select id="getPersonalId" parameterType="Personal" resultType="Integer">
    select id from personal
    <where>
        <if test="name != null">
          and name = #{name}
        </if>
        <if test="oldName != null">
          and old_name = #{oldName}
        </if>
        <if test="sex != null">
          and sex = #{sex}
        </if>
        <if test="comeDate != null">
          and come_date = #{comeDate}
        </if>
        <if test="idCard != null">
          and id_card = #{idCard}
        </if>
        <if test="headImg != null">
          and head_img = #{headImg}
        </if>
        <if test="nation != null">
          and nation = #{nation}
        </if>
        <if test="province != null">
          and province = #{province}
        </if>
        <if test="city != null">
          and city = #{city}
        </if>
        <if test="district != null">
          and district =#{district}
        </if>
        <if test="town != null">
          and town = #{town}
        </if>
        <if test="villager != null">
          and villager = #{villager}
        </if>
        <if test="nowAddress != null">
          and now_address = #{nowAddress}
        </if>
        <if test="fixedPhone != null">
          and fixed_phone = #{fixedPhone}
        </if>
        <if test="movePhone != null">
          and move_phone = #{movePhone}
        </if>
        <if test="concats != null">
          and concats = #{concats}
        </if>
        <if test="concatsFixphone != null">
          and concats_fixphone = #{concatsFixphone}
        </if>
        <if test="concatsMovphone != null">
          and concats_movphone = #{concatsMovphone}
        </if>
        <if test="cultrue != null">
          and cultrue = #{cultrue}
        </if>
        <if test="politicsStatus != null">
          and politics_status = #{politicsStatus}
        </if>
        <if test="faith != null">
          and faith = #{faith}
        </if>
        <if test="height!= null">
          and height = #{height}
        </if>
        <if test="weight != null">
          and weight = #{weight}
        </if>
        <if test="blood != null">
          and blood = #{blood}
        </if>
        <if test="backgRound != null">
          and backg_round = #{backgRound}
        </if>
        <if test="healthType != null">
          and health_type = #{healthType}
        </if>
        <if test="disability != null">
          and disability = #{disability}
        </if>
        <if test="maritalStatus !=null">
          and marital_status = #{maritalStatus}
        </if>
        <if test="status != null">
          and status = #{status}
        </if>
        <if test="explain != null">
          and explain = #{explain}
        </if>
        <if test="createTime != null">
          and create_time = #{createTime}
        </if>
        <if test="modifiedTime!= null">
          and modified_time = #{modifiedTime}
        </if>
        <if test="auditor != null">
          and auditor = #{auditor}
        </if>
        <if test="userId != null">
          and user_id = #{userId}
        </if>
    </where>
    limit 1
  </select>

  <!--根据pesonalId获取个人信息-->
  <select id="getPersaonal" parameterType="Integer" resultMap="BaseResultMap">
    select * from personal where id = #{personalId}
  </select>

  <!--登记信息审核查询-->
  <select id="getPersonalExt" parameterType="User" resultMap="personalExtMap">
    select personal.id, personal.name,personal.fixed_phone, personal.move_phone, personal.status,
    personal.explain, personal.create_time, personal.auditor, personal.user_id, user.phone, user.password,
    user.company_name, user.identity from personal inner join user on personal.user_id = user.id
    <where>
      <if test="companyName != null">
        and user.company_name like "%"#{companyName}"%"
      </if>
      and user.identity = #{identity}
      and personal.status != 2
    </where>
    order by personal.id desc
  </select>

  <resultMap id="personalExtMap" type="com.ygjy.entity.PersonalExt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fixed_phone" jdbcType="VARCHAR" property="fixedPhone" />
    <result column="move_phone" jdbcType="VARCHAR" property="movePhone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
  </resultMap>
</mapper>